@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500;1,600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.container {
	max-width: 100%;
}

.header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center; /*выравнивание сетки по середине вдоль строки*/
	align-items: center; /*выравнивание сетки по середине вдоль столбца*/
    background-color:#FAFAFA;
    height: 140px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 30px;
}

a{
    color: #000000;
    text-decoration: none; 
} 
a:hover { 
    color: #000000; 
    text-decoration: none;
    border-bottom: 3px solid #123D0F;
}

.content{
    display: grid;
    grid-template-rows: auto;
    background-color:#FAFAFA;
    width: 100%;
}

.section{
    position: absolute;
    width: 100%;
    height: 550px;
    background-image: url("./img/firstpage/logofon.png");
}

.block5{
    position: absolute;
    width: 530px;
    height: 80px;
    top: 250px;
    font-weight: 300;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.buttom{
    position:relative;
    background-color: #F1F4EF;
    width: 300px;
    height: 80px;
    left: 102px;
    top: 368px;
    border-radius: 40px;
    font-weight: 300;
    font-size: 25px;
    outline: 1px solid #000000;
}
.buttom:hover {  /*сменяем цвет при наведении курсора*/
    background-color:#E7EDE1;
    transition: 0.7s; /*меняем цвет плавно*/
}

.section1{
    position: absolute;
    width: 100%;
    height: 550px;
    padding-top: 30px;
    left: 0px;
    top: 630px;
    text-align: center;
    background-color: #F1F4EF;
}
.cosm{
    font-weight: 600px;
    font-size: 35px;
}
.t2{
    font-weight: 300px;
    font-size: 28px;
}

.section3{
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap:10px;
	justify-items: center;
	align-items: center;
}
.picture1 {
	width: 300px;
	height: 350px;
	margin: 5px;
}
.picture1 img {
	width: 300px;
	height: 350px;
    border-radius: 20px;
}
.component{
    border-radius: 25px;
    width:900px;
    height:300px;
    margin-left:150px;
}

.section4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /*создаем гибкую сетку из 4 столбцов по 1фракции*/
	grid-gap:10px;
    justify-items:center;
    justify-content: space-between;
    font-weight: 300;
    font-size: 25px;
}

.section-item{
	margin: 0px; /*тк использовали grid-gap*/ 
    font-size:20px;
}
.section22{
    position: relative;
    width:100%;
    height: 730px;
    top: 1050px; 
    background-color:#FAFAFA;
}
.sect{
    margin-left:80px;
    font-weight: 500;
    font-size: 34px;
}
.rub{
    color: #A68686;
    font-weight: 500;
    font-size: 28px;
}
.krem{
    font-weight: 500;
    font-size: 25px;
}

.buttom2{
    position:relative;
    background-color: #F1F4EF;
    width: 300px;
    height: 80px;
    top: 60px;
    border-radius: 40px;
    font-weight: 300;
    font-size: 25px;
    outline: 1px solid #000000;
}
.buttom2:hover {  /*сменяем цвет при наведении курсора*/
    background-color:#E7EDE1;
    transition: 0.7s; /*меняем цвет плавно*/
}

.section5{
    position: relative;
    width:100%;
    height: 370px;
    top: 1050px; 
    background-color:#FAFAFA;
}
.block6{
    position: relative;
    margin: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}
.block7{
    position: relative;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
}
hr {
    width: 900px;
    height: 1px;
    border: 0;
    border-top: 1px solid #123D0F;
}
.sogl{
    font-weight: 500;
    font-size: 25px;
}
.box{
    margin-left: 33px;
    width: 25px;
    height: 25px;
}
.form1{
    width: 350px;
    height: 65px;
    border-radius: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    background-color:#fff5f5;
    outline: 1px solid #000000;
}
.form-item{
    display: grid;
	grid-template-columns: repeat(3, 400px); /*создаем гибкую сетку из 3 столбцов по 1фракции*/
	grid-gap:0px;
    justify-items: center; /*выравнивание сетки по середине вдоль строки*/
	align-items: center; /*выравнивание сетки по середине вдоль столбца*/
  justify-content: center;
}
.form2{
    width: 370px;
    height: 65px;
    left: 570px;
    border-radius: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    background-color:#fff5f5;
    outline: 1px solid #000000;
}

.buttom3{
    position:relative;
    background-color: #F1F4EF;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    outline: 1px solid #000000;
    background-image:url(./img/firstpage/Vector.png);
}
.buttom3:hover {  /*сменяем цвет при наведении курсора*/
    background-color:#e3c4c4;
    transition: 0.7s; /*меняем цвет плавно*/
}


.float{
    position: relative;
    display: grid;
	grid-template-columns: 500px auto;
    justify-content: center;
    width:100%;
    height: auto;
    top: 1050px;
    background: #F1F4EF;
    padding: 60px 0 0 0;
}
.sidebar2{
    padding: 50px 0 0 0;
}
.logotype{
    color:#123D0F;
    font-weight: 600;
    font-size: 36px;
}
.side1{
    font-weight: 500;
    font-size: 25px;
}
.side{
    font-weight: 500;
    font-size: 25px;
}
.side2{
    font-weight: 300;
    font-size: 22px;
}